<h1>Dashboard</h1>
<p>Clientes</p>
<%= link_to 'Administrar Clientes', clients_path %>
<p>Personas</p>
<%= link_to 'Administrar Personas', people_path %>
<p>Facturas</p>
<%= link_to 'Administrar Facturas', bills_path %>
